* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
/*
    color for the page
*/
body {
    background-image: linear-gradient(60deg,#5a0c7c,#00ff90);
    min-height: 1000px;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 50px;
}

.txt {
    width: 100%;
    border: none;
    border-bottom: 4px solid #000000;
    padding: 10px;
    outline: none;
    font-size: 16px;
}

h3 {
    margin: 10px 0;
}

.task {
    width: 100%;
    background: #9f9595;
    padding: 16px;
    margin: 6px 0;
    overflow: hidden;
}

    .task i {
        float: right;
        margin-left: 20px;
        cursor: pointer;
    }

.completed .task {
    background: #130e0e;
    color: aquamarine;
}
